.bss{
  // 企业微信BSS系统
  .van-cell--required{
    &::before{
      color:#FFA000;
      font-weight: bold;
      left: 5px;
      line-height: 28px;
      font-size: 18px;
    }
  }
  .van-cell{
    font-size: 15px;
    .van-field__label{
      width: auto;
    }
    &::after{
      content:"";
      left: 0;
      border-color: #EEF0F2;
    }
    .van-field__label{
      margin-right: 20px;
      color: #000000;
    }
    .van-cell__value,
    .van-field__control{
      &:disabled{
        color: #c8c9cc;
        background-color: transparent;
        cursor: not-allowed;
        opacity: 1;
        -webkit-text-fill-color: currentColor;
      }
      color: #353535;
    }
    // radio
    .van-radio__label{
      color: #000000;
    }
    .van-radio__icon--checked .van-icon-success,
    .van-checkbox__icon--checked .van-icon-success{
      border: none;
      background-image: linear-gradient(270deg, #80D8F3 0%, #5C9BDD 100%);
    }
  }
  // button
  .van-button.van-button-color{
    font-size: 16px;
    border: none;
    background-image: linear-gradient(270deg, #80D8F3 0%, #5C9BDD 100%);
  }
}